
<!DOCTYPE html>
<html>
<head>
    <title>مواقيت الصلاة اليوم في البرك</title>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://timesprayer.today/css/w3.css">
<link rel="stylesheet" href="https://timesprayer.today/css/custome_style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
 <style type="text/css">
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 200px) {
h3{
   font-size: 18px;
}
p{
    font-size:12px;
}
div{
font-size:12px;
}
table{
    font-size:14px;
}
.w3-col.xs12 {
    width: 99.99999%!important;
}
}

</style>
 
</head>
<body>


<div ng-app="myApp" ng-controller="myCtrl">
   <div class="w3-col m12 w3-blue-gray w3-padding w3-round">
     <span><a href="https://timesprayer.today/ci2294-مواقيت-الصلاة-في-البرك.html" target="_blank"><b class="w3-xlarge">السعودية</b> , البرك </a></span>
    <div class="w3-left">متبقي على صلاة الظهر :
    <h2 id="prayerTimeCountDown" class="w3-margin-0 w3-center" style="font-weight: bold">--:--:--</h2>
    </div>

    <div> صلاة الظهر الساعة 12:19 PM</div>
     </div>
     <div class="w3-col m12 w3-white">
     <div class="w3-col w3-center m2 s6 xs12 w3-padding-tiny">
        <div class="w3-round w3-light-grey">
         <div class="w3-blue-gray w3-round"><i class="fa fa-moon-o" aria-hidden="true"></i> الفجر</div>
         <div class="w3-padding">4:20 AM</div>
        </div>
     </div>

     <div class="w3-col w3-center m2 s6 xs12 w3-padding-tiny">
        <div class="w3-round w3-light-grey">
         <div class="w3-blue-gray w3-round"><i class="fa fa-sun-o" aria-hidden="true"></i> الشروق</div>
         <div class="w3-padding">5:44 AM</div>
        </div>
     </div>

     <div class="w3-col w3-center m2 s6 xs12 w3-padding-tiny">
        <div class="w3-round w3-light-grey">
         <div class="w3-blue-gray w3-round"><i class="fa fa-sun-o" aria-hidden="true"></i> الظهر</div>
         <div class="w3-padding w3-text-deep-orange"><b>12:19 PM</b></div>
        </div>
     </div>

     <div class="w3-col w3-center m2 s6 xs12 w3-padding-tiny">
        <div class="w3-round w3-light-grey">
         <div class="w3-blue-gray w3-round"><i class="fa fa-sun-o" aria-hidden="true"></i> العصر</div>
         <div class="w3-padding">3:39 PM</div>
        </div>
     </div>

     <div class="w3-col w3-center m2 s6 xs12 w3-padding-tiny">
        <div class="w3-round w3-light-grey">
         <div class="w3-blue-gray w3-round"><i class="fa fa-moon-o" aria-hidden="true"></i> المغرب</div>
         <div class="w3-padding">6:54 PM</div>
        </div>
     </div>

     <div class="w3-col w3-center m2 s6 xs12 w3-padding-tiny">
        <div class="w3-round w3-light-grey">
         <div class="w3-blue-gray w3-round"><i class="fa fa-moon-o" aria-hidden="true"></i> العشاء</div>
         <div class="w3-padding">8:24 PM</div>
        </div>
     </div>


  </div>

      <div class="w3-col m12 w3-blue-gray w3-padding w3-round w3-center">
    <select class="w3-border" style="width:40%" ng-change="changeCountry(countryValue)" ng-model="countryValue" ng-init="countryValue='187'">
        <option value="9" >antigua and barbuda</option>
        <option value="23" >benin</option>
        <option value="24" >bermuda</option>
        <option value="25" >bhutan</option>
        <option value="35" >burundi</option>
        <option value="52" >costa rica</option>
        <option value="69" >falkland islands islas malvinas</option>
        <option value="139" >federated states of micronesia</option>
        <option value="76" >french southern and antarctic lands</option>
        <option value="248" >jersey</option>
        <option value="111" >kiribati</option>
        <option value="152" >new caledonia</option>
        <option value="154" >nicaragua</option>
        <option value="166" >papua new guinea</option>
        <option value="175" >réunion</option>
        <option value="183" >saint vincent and the grenadines</option>
        <option value="184" >samoa</option>
        <option value="252" >sint maarten</option>
        <option value="195" >solomon islands</option>
        <option value="16" >the bahamas</option>
        <option value="212" >timor-leste</option>
        <option value="214" >tokelau</option>
        <option value="215" >tonga</option>
        <option value="230" >vanuatu</option>
        <option value="15" >أذربيجان</option>
        <option value="11" >أرمينيا</option>
        <option value="12" >أروبا</option>
        <option value="13" >أستراليا</option>
        <option value="1" >أفغانستان</option>
        <option value="2" >ألبانيا</option>
        <option value="80" >ألمانيا</option>
        <option value="6" >أنجولا</option>
        <option value="5" >أندورا</option>
        <option value="228" >أوروغواي</option>
        <option value="229" >أوزبكستان</option>
        <option value="222" >أوغندا</option>
        <option value="223" >أوكرانيا</option>
        <option value="103" >أيرلندا</option>
        <option value="98" >أيسلندا</option>
        <option value="68" >إثيوبيا</option>
        <option value="66" >إرتريا</option>
        <option value="199" >إسبانيا</option>
        <option value="67" >إستونيا</option>
        <option value="100" >إندونيسيا</option>
        <option value="101" >إيران</option>
        <option value="105" >إيطاليا</option>
        <option value="10" >الأرجنتين</option>
        <option value="108" >الأردن</option>
        <option value="224" >الإمارات</option>
        <option value="62" >الاكوادور</option>
        <option value="17" >البحرين</option>
        <option value="30" >البرازيل</option>
        <option value="172" >البرتغال</option>
        <option value="27" >البوسنة والهرسك</option>
        <option value="242" >الجبل الأسود</option>
        <option value="3" >الجزائر</option>
        <option value="244" >الجزر الكاريبية الهولندية</option>
        <option value="58" >الدنمارك</option>
        <option value="39" >الرأس الأخضر</option>
        <option value="187" selected>السعودية</option>
        <option value="64" >السلفادور</option>
        <option value="188" >السنغال</option>
        <option value="201" >السودان</option>
        <option value="205" >السويد</option>
        <option value="196" >الصومال</option>
        <option value="44" >الصين</option>
        <option value="102" >العراق</option>
        <option value="77" >الغابون</option>
        <option value="94" >الفاتيكان</option>
        <option value="169" >الفلبين</option>
        <option value="8" >القارة القطبية الجنوبية</option>
        <option value="37" >الكاميرون</option>
        <option value="49" >الكونغو</option>
        <option value="50" >الكونغو</option>
        <option value="114" >الكويت‎</option>
        <option value="97" >المجر</option>
        <option value="144" >المغرب</option>
        <option value="138" >المكسيك</option>
        <option value="225" >المملكة المتحدة</option>
        <option value="160" >النرويج</option>
        <option value="14" >النمسا</option>
        <option value="155" >النيجر</option>
        <option value="99" >الهند</option>
        <option value="226" >الولايات المتحدة</option>
        <option value="107" >اليابان</option>
        <option value="83" >اليونان</option>
        <option value="237" >اليَمَن</option>
        <option value="167" >باراغواي</option>
        <option value="19" >باربادوس</option>
        <option value="162" >باكستان</option>
        <option value="32" >بروناي دار السلام</option>
        <option value="21" >بلجيكا</option>
        <option value="33" >بلغاريا</option>
        <option value="18" >بنجلاديش</option>
        <option value="165" >بنما</option>
        <option value="28" >بوتسوانا</option>
        <option value="173" >بورتوريكو</option>
        <option value="34" >بوركينا فاسو</option>
        <option value="171" >بولندا</option>
        <option value="26" >بوليفيا</option>
        <option value="75" >بولينيزيا الفرنسية</option>
        <option value="168" >بيرو</option>
        <option value="211" >تايلاند</option>
        <option value="208" >تايوان</option>
        <option value="219" >تركمانستان</option>
        <option value="218" >تركيا</option>
        <option value="216" >ترينيداد وتوباغو</option>
        <option value="42" >تشاد‎</option>
        <option value="57" >تشيكيا</option>
        <option value="43" >تشيلي</option>
        <option value="210" >تنزانيا</option>
        <option value="213" >توجو</option>
        <option value="217" >تونس‎</option>
        <option value="106" >جامايكا</option>
        <option value="78" >جامبيا</option>
        <option value="84" >جرينلاند</option>
        <option value="243" >جزر آلاند</option>
        <option value="234" >جزر العذراء الامريكية</option>
        <option value="48" >جزر القمر‎</option>
        <option value="70" >جزر فارو</option>
        <option value="41" >جمهورية إفريقيا الوسطى</option>
        <option value="61" >جمهورية الدومينيكان</option>
        <option value="197" >جنوب أفريقيا</option>
        <option value="253" >جنوب السودان</option>
        <option value="88" >جواتيمالا</option>
        <option value="79" >جورجيا</option>
        <option value="59" >جيبوتي</option>
        <option value="246" >جيرنسي</option>
        <option value="178" >رواندا</option>
        <option value="177" >روسيا</option>
        <option value="20" >روسيا البيضاء</option>
        <option value="176" >رومانيا</option>
        <option value="238" >زامبيا</option>
        <option value="239" >زيمبابوي</option>
        <option value="53" >ساحل العاج</option>
        <option value="4" >ساموا الأمريكية</option>
        <option value="185" >سان مارينو</option>
        <option value="179" >سانت هيلينا</option>
        <option value="200" >سريلانكا</option>
        <option value="203" >سفالبارد ويان ماين</option>
        <option value="193" >سلوفاكيا</option>
        <option value="194" >سلوفينيا</option>
        <option value="192" >سنغافورة</option>
        <option value="204" >سوازيلاند</option>
        <option value="207" >سوريا</option>
        <option value="202" >سورينام</option>
        <option value="206" >سويسرا</option>
        <option value="191" >سيراليون</option>
        <option value="190" >سيشل</option>
        <option value="240" >صربيا</option>
        <option value="209" >طاجيكستان</option>
        <option value="161" >عمان</option>
        <option value="81" >غانا</option>
        <option value="85" >غرينادا</option>
        <option value="86" >غوادلوب</option>
        <option value="91" >غويانا</option>
        <option value="89" >غينيا</option>
        <option value="65" >غينيا الاستوائية</option>
        <option value="74" >غينيا الفرنسية</option>
        <option value="90" >غينيا بيساو</option>
        <option value="73" >فرنسا</option>
        <option value="104" >فلسطين</option>
        <option value="231" >فنزويلا</option>
        <option value="72" >فنلندا</option>
        <option value="232" >فيتنام</option>
        <option value="71" >فيجي</option>
        <option value="56" >قبرص</option>
        <option value="115" >قرغيزستان</option>
        <option value="174" >قطر</option>
        <option value="109" >كازاخستان</option>
        <option value="54" >كرواتيا</option>
        <option value="36" >كمبوديا</option>
        <option value="38" >كندا</option>
        <option value="55" >كوبا</option>
        <option value="245" >كوراساو</option>
        <option value="113" >كوريا الجنوبية</option>
        <option value="112" >كوريا الشمالية</option>
        <option value="47" >كولومبيا</option>
        <option value="110" >كينيا</option>
        <option value="117" >لاتفيا</option>
        <option value="116" >لاوس</option>
        <option value="118" >لبنان</option>
        <option value="124" >لوكسمبورغ</option>
        <option value="121" >ليبيا</option>
        <option value="120" >ليبيريا</option>
        <option value="123" >ليتوانيا</option>
        <option value="122" >ليختنشتاين</option>
        <option value="119" >ليسوتو</option>
        <option value="134" >مارتينيك</option>
        <option value="130" >مالديفز</option>
        <option value="132" >مالطا</option>
        <option value="131" >مالي</option>
        <option value="129" >ماليزيا</option>
        <option value="127" >مدغشقر</option>
        <option value="63" >مصر</option>
        <option value="126" >مقدونيا جمهورية مقدونيا اليوغوسلافية السابقة</option>
        <option value="142" >منغوليا</option>
        <option value="135" >موريتانيا</option>
        <option value="136" >موريشيوس</option>
        <option value="145" >موزمبيق</option>
        <option value="140" >مولدوفا</option>
        <option value="141" >موناكو</option>
        <option value="146" >ميانمار بورما</option>
        <option value="147" >ناميبيا</option>
        <option value="149" >نيبال</option>
        <option value="156" >نيجيريا</option>
        <option value="153" >نيوزيلندا</option>
        <option value="92" >هايتي</option>
        <option value="95" >هندوراس</option>
        <option value="150" >هولندا</option>
        <option value="96" >هونغ كونغ</option>
        <option value="235" >واليس وفوتونا</option>
      </select>
    <select class="w3-border" style="width:40%" ng-change="changeCity()" ng-model="selectCity">
  <option value="0" disabled="disabled">اختر المدينة</option>
  <option ng-repeat="val in chooseCountries" value="{{val.ci_id}}">{{val.ci_long_name}}</option>
  </select>

    </div>
    
    </div>

<script type="text/javascript">
 function pauseSound(tagId){
   document.getElementById(tagId).pause();
    }
 function playSound(tagId){
   document.getElementById(tagId).play();
    }


function prayerSound()
{
   var keyNextPrayer = 2;
            if(keyNextPrayer==0)
            {
            var filetopray = "fajer";
            }else{
            var filetopray = "reqiular";
            }
        var playStringAudio =
    '<button type="button" class="w3-small w3-button w3-red pauseVid" onclick="pauseSound(\'mySound\')">أيقاف</button>&nbsp;'
    +'<button type="button" class="w3-small w3-button w3-green playVid" onclick="playSound(\'mySound\')">تشغيل</button>'
    +'<audio id="mySound" autoplay>'
    +'<source src="sound/' + filetopray + '.mp3" type="audio/mp3">'
    +'Your browser does not support HTML5 audio.'
    +'</audio>';

        document.getElementById("prayerTimeCountDown").innerHTML = playStringAudio;
        document.getElementById("mySound").onended = function() {
        location.reload();
        };
}

function updateURLParameter(url, param, paramVal){
    //this fun will ad parameter if not exisit befor
    var newAdditionalURL = "";
    var tempArray = url.split("?");
    var baseURL = tempArray[0];
    var additionalURL = tempArray[1];
    var temp = "";
    if (additionalURL) {
        tempArray = additionalURL.split("&");
        for (var i=0; i<tempArray.length; i++){
            if(tempArray[i].split('=')[0] != param){
                newAdditionalURL += temp + tempArray[i];
                temp = "&";
            }
        }
    }

    var rows_txt = temp + "" + param + "=" + paramVal;
    return baseURL + "?" + newAdditionalURL + rows_txt;
}
var curr_url = 'https://timesprayer.today/widget_frame.php?frame=3&sound=false&id=2294';

function pad(n) {
    return (n < 10) ? ("0" + n) : n;
}

var app = angular.module('myApp', []);
</script>
<script type="text/javascript">

app.controller('myCtrl', function($scope,$http, $interval) {

function loadCities(val,selectedValue)
{
 var objData = {
       cid : val
       };
  $http.post("https://timesprayer.today/ajax.php?do=loadCities",objData)
    .then(function(response) {
        if(response.data.status > 0)
        {
            //alert(JSON.stringify(response.data.msg));
        $scope.chooseCountries = response.data.msg;
        if(selectedValue=='novalue')
        {
          $scope.selectCity = '0';
        }else{
        $scope.selectCity = selectedValue;
        }
        }else{
        alert(response.data.msg);
        }
    });
}
  loadCities('187','2294');
 $scope.changeCountry = function(val){
  loadCities(val,'novalue');
    }

  $scope.changeCity = function()
  {
      if($scope.selectCity)
      {
      var newurl = updateURLParameter(curr_url, 'id', $scope.selectCity);
      location.href = newurl;
      }
      //window.location.replace(newurl);
  }





    var prayerTimeCountDown = document.getElementById("prayerTimeCountDown");

    var citydatetimeasarray = ["2022","07","10","09","02","42"];
    var citynextpraytimeasarray = ["2022","07","10","12","19","00"];

    var tempPrayer = 0;
    var countdownON = true;
    $interval(function () {
    if(countdownON)
    {
    var dateEntered = new Date(citynextpraytimeasarray[0],citynextpraytimeasarray[1],citynextpraytimeasarray[2],citynextpraytimeasarray[3],citynextpraytimeasarray[4],citynextpraytimeasarray[5]);
    var now = new Date(citydatetimeasarray[0],citydatetimeasarray[1],citydatetimeasarray[2],citydatetimeasarray[3],citydatetimeasarray[4],citydatetimeasarray[5]);
    var difference = dateEntered.getTime() - now.getTime();
    var difference = difference - (tempPrayer*1000);

   if (difference <= 0) {
        countdownON = false;
        tempPrayer = 0;
                location.reload();
                // Timer done
    } else {
        var seconds = Math.floor(difference / 1000);
        var minutes = Math.floor(seconds / 60);
        var hours = Math.floor(minutes / 60);
        //var days = Math.floor(hours / 24);
        hours %= 24;
        minutes %= 60;
        seconds %= 60;
        prayerTimeCountDown.innerHTML = pad(hours) + ':' + pad(minutes) + ':' + pad(seconds);
    }
    tempPrayer++;
    }

    }, 1000);



});
</script>






<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102079055-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
